@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.user {
  @apply border-2 border-amber-300 p-5 rounded-3xl text-center space-y-3;
}
.title {
  @apply text-2xl font-bold;
}
.usersContainer {
  @apply grid grid-cols-3 gap-5 m-4 mt-12;
}
.user-info {
  @apply flex;
}
.details {
  @apply font-bold w-24 text-left;
}
.user-text {
  @apply flex-1 text-left;
}
.dot {
  @apply font-bold w-8 text-left;
}
